<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
	<!-- #css読込 -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>TFT Champion Pick Generator</title>
	<!-- #favicon読込 -->
	<link rel="apple-touch-icon" sizes="180x180" href="./static/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="./static/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="./static/favicon/favicon-16x16.png">
	<link rel="manifest" href="./static/favicon/site.webmanifest">
	<link rel="mask-icon" href="./static/favicon/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">
	<meta http-equiv="content-script-type" content="text/javascript">
	<!-- <meta name="twitter:card" content="summary_large_image" > -->
	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="@ararabo" >
	<meta property="og:url" content="https://tftchampionpickgenerator.azurewebsites.net/" >
	<meta property="og:title" content="TFT Champion Pick Generator" >
	<meta property="og:description" content="TFT's Champion Pick Image Generation Site" >
	<!-- <meta property="og:image" content="https://tftchampionpickgenerator.azurewebsites.net/static/images/sample_image2.png"> -->
	<meta property="og:image" content="https://tftchampionpickgenerator.azurewebsites.net/static/images/sample_image2_small.png">
	<!-- <meta property="og:image" content="{{url_for('static',_external=True,filename='images/output.jpg')}}"> -->
	<script src="./static/js/jquery-3.5.1.min.js"></script>
	<script src="./static/js/garlic.js"></script>
	<script>
		$(function(){
		$("form").garlic();
		});
	</script>
	<SCRIPT language="JavaScript">
		img0=new Image()
		img0.src="./static/attribute_images/astro.png"
		img1=new Image()
		img1.src="./static/attribute_images/battlecast.png"
		img2=new Image()
		img2.src="./static/attribute_images/blademaster.png"
		img3=new Image()
		img3.src="./static/attribute_images/blaster.png"
		img4=new Image()
		img4.src="./static/attribute_images/brawler.png"
		img5=new Image()
		img5.src="./static/attribute_images/celestial.png"
		img6=new Image()
		img6.src="./static/attribute_images/chrono.png"
		img7=new Image()
		img7.src="./static/attribute_images/cybernetic.png"
		img8=new Image()
		img8.src="./static/attribute_images/darkstar.png"
		img9=new Image()
		img9.src="./static/attribute_images/demolitionist.png"
		img10=new Image()
		img10.src="./static/attribute_images/infiltrator.png"
		img11=new Image()
		img11.src="./static/attribute_images/manareaver.png"
		img12=new Image()
		img12.src="./static/attribute_images/mechpilot.png"
		img13=new Image()
		img13.src="./static/attribute_images/mercenary.png"
		img14=new Image()
		img14.src="./static/attribute_images/mystic.png"
		img15=new Image()
		img15.src="./static/attribute_images/paragon.png"
		img16=new Image()
		img16.src="./static/attribute_images/protector.png"
		img17=new Image()
		img17.src="./static/attribute_images/rebel.png"
		img18=new Image()
		img18.src="./static/attribute_images/sniper.png"
		img19=new Image()
		img19.src="./static/attribute_images/sorcerer.png"	
		img20=new Image()
		img20.src="./static/attribute_images/spacepirate.png"
		img21=new Image()
		img21.src="./static/attribute_images/starguardian.png"
		img22=new Image()
		img22.src="./static/attribute_images/starship.png"
		img23=new Image()
		img23.src="./static/attribute_images/vanguard.png"
		
		function imgChange1(parts){
		fname=parts.options[parts.selectedIndex].value;
		if(fname=="astro"){document.imgsmp1.src=img0.src;}
		if(fname=="battlecast"){document.imgsmp1.src=img1.src;}
		if(fname=="blademaster"){document.imgsmp1.src=img2.src;}
		if(fname=="blaster"){document.imgsmp1.src=img3.src;}
		if(fname=="brawler"){document.imgsmp1.src=img4.src;}
		if(fname=="celestial"){document.imgsmp1.src=img5.src;}
		if(fname=="chrono"){document.imgsmp1.src=img6.src;}
		if(fname=="cybernetic"){document.imgsmp1.src=img7.src;}
		if(fname=="darkstar"){document.imgsmp1.src=img8.src;}
		if(fname=="demolitionist"){document.imgsmp1.src=img9.src;}
		if(fname=="infiltrator"){document.imgsmp1.src=img10.src;}
		if(fname=="manareaver"){document.imgsmp1.src=img11.src;}
		if(fname=="mechpilot"){document.imgsmp1.src=img12.src;}
		if(fname=="mercenary"){document.imgsmp1.src=img13.src;}
		if(fname=="mystic"){document.imgsmp1.src=img14.src;}
		if(fname=="paragon"){document.imgsmp1.src=img15.src;}
		if(fname=="protector"){document.imgsmp1.src=img16.src;}
		if(fname=="rebel"){document.imgsmp1.src=img17.src;}
		if(fname=="sniper"){document.imgsmp1.src=img18.src;}
		if(fname=="sorcerer"){document.imgsmp1.src=img19.src;}
		if(fname=="spacepirate"){document.imgsmp1.src=img20.src;}
		if(fname=="starguardian"){document.imgsmp1.src=img21.src;}
		if(fname=="starship"){document.imgsmp1.src=img22.src;}
		if(fname=="vanguard"){document.imgsmp1.src=img23.src;}}
		function imgChange2(parts){
		fname=parts.options[parts.selectedIndex].value;
		if(fname=="astro"){document.imgsmp2.src=img0.src;}
		if(fname=="astro"){document.imgsmp2.src=img0.src;}
		if(fname=="battlecast"){document.imgsmp2.src=img1.src;}
		if(fname=="blademaster"){document.imgsmp2.src=img2.src;}
		if(fname=="blaster"){document.imgsmp2.src=img3.src;}
		if(fname=="brawler"){document.imgsmp2.src=img4.src;}
		if(fname=="celestial"){document.imgsmp2.src=img5.src;}
		if(fname=="chrono"){document.imgsmp2.src=img6.src;}
		if(fname=="cybernetic"){document.imgsmp2.src=img7.src;}
		if(fname=="darkstar"){document.imgsmp2.src=img8.src;}
		if(fname=="demolitionist"){document.imgsmp2.src=img9.src;}
		if(fname=="infiltrator"){document.imgsmp2.src=img10.src;}
		if(fname=="manareaver"){document.imgsmp2.src=img11.src;}
		if(fname=="mechpilot"){document.imgsmp2.src=img12.src;}
		if(fname=="mercenary"){document.imgsmp2.src=img13.src;}
		if(fname=="mystic"){document.imgsmp2.src=img14.src;}
		if(fname=="paragon"){document.imgsmp2.src=img15.src;}
		if(fname=="protector"){document.imgsmp2.src=img16.src;}
		if(fname=="rebel"){document.imgsmp2.src=img17.src;}
		if(fname=="sniper"){document.imgsmp2.src=img18.src;}
		if(fname=="sorcerer"){document.imgsmp2.src=img19.src;}
		if(fname=="spacepirate"){document.imgsmp2.src=img20.src;}
		if(fname=="starguardian"){document.imgsmp2.src=img21.src;}
		if(fname=="starship"){document.imgsmp2.src=img22.src;}
		if(fname=="vanguard"){document.imgsmp2.src=img23.src;}}
	</SCRIPT>
  </head>
  <style>
	body{
		text-align: center;
		}
		div#center {
		width: 450px;
		height: 800px;
		text-align: left;
		margin: auto;
		}
		h1 {
		text-align: center;
		}
  </style>
  <body>
  	<div id="center">
		<h1 align="center">{{ title }}</h1>
		<p align="center">{{ message | safe }}</p>
		<form action="/" data-persist=”garlic” method="POST" enctype="multipart/form-data">
			<div align="center">
				{% if sStartFlag==True %}
					<img src="{{ image }}" class="img-fluid">
				{% else %}
					<img src="{{url_for('static', filename='images/output.jpg')}}" class="img-fluid" alt="Responsive image">
				{% endif %}
			</div>
				<div>
					<label for="name">Name:</label>
					<input type="text" id="name" name="name" placeholder="Name">	
				</div>
				<div>
				<label for="image">Image(jpg,png,gif):</label>
				<input type=file name=upfile>
				</div>
				<label for="tier">Tier:</label>
				<select name="sel">
					<option value="null" disabled selected>Select Tier</option>
					<option value="1">Tier1</option>
					<option value="2">Tier2</option>
					<option value="3">Tier3</option>
					<option value="4">Tier4</option>
					<option value="5">Tier5</option>
				</select>
				<div>
					<label for="attribute1">Synergy1:</label>
					<input type="text" id="attribute1" name="attribute1" placeholder="Enter Synergy1"><IMG src="./static/attribute_images/sample.png" width="25" height="25" name="imgsmp1" style="vertical-align: bottom;">
					<select name="attribute1_sel" onchange="imgChange1(this)">
						<option value="null" disabled selected>Set Synergy1 icon</option>
						<option value="astro">astro</option>
						<option value="battlecast">battlecast</option>
						<option value="blademaster">blademaster</option>
						<option value="blaster">blaster</option>
						<option value="brawler">brawler</option>
						<option value="celestial">celestial</option>
						<option value="chrono">chrono</option>
						<option value="cybernetic">cybernetic</option>
						<option value="darkstar">darkstar</option>
						<option value="demolitionist">demolitionist</option>
						<option value="infiltrator">infiltrator</option>
						<option value="manareaver">manareaver</option>
						<option value="mechpilot">mechpilot</option>
						<option value="mercenary">mercenary</option>
						<option value="mystic">mystic</option>
						<option value="paragon">paragon</option>
						<option value="protector">protector</option>
						<option value="rebel">rebel</option>
						<option value="sniper">sniper</option>
						<option value="sorcerer">sorcerer</option>
						<option value="spacepirate">spacepirate</option>
						<option value="starguardian">starguardian</option>
						<option value="starship">starship</option>
						<option value="vanguard">vanguard</option>
					</select>
				</div>
				<div>
					<label for="attribute2">Synergy2:</label>
					<input type="text" id="attribute2" name="attribute2" placeholder="Enter Synergy2"><IMG src="./static/attribute_images/sample.png" width="25" height="25" name="imgsmp2" style="vertical-align: bottom;">
					<select name="attribute2_sel" onchange="imgChange2(this)">
						<option value="null" disabled selected>Set Synergy2 icon</option>
						<option value="astro">astro</option>
						<option value="battlecast">battlecast</option>
						<option value="blademaster">blademaster</option>
						<option value="blaster">blaster</option>
						<option value="brawler">brawler</option>
						<option value="celestial">celestial</option>
						<option value="chrono">chrono</option>
						<option value="cybernetic">cybernetic</option>
						<option value="darkstar">darkstar</option>
						<option value="demolitionist">demolitionist</option>
						<option value="infiltrator">infiltrator</option>
						<option value="manareaver">manareaver</option>
						<option value="mechpilot">mechpilot</option>
						<option value="mercenary">mercenary</option>
						<option value="mystic">mystic</option>
						<option value="paragon">paragon</option>
						<option value="protector">protector</option>
						<option value="rebel">rebel</option>
						<option value="sniper">sniper</option>
						<option value="sorcerer">sorcerer</option>
						<option value="spacepirate">spacepirate</option>
						<option value="starguardian">starguardian</option>
						<option value="starship">starship</option>
						<option value="vanguard">vanguard</option>
					</select>
				</div>
				<div>
					<label><input type="checkbox" name="string_color" value="1">Change to black text(Synergy)</label>
					<input type="submit" value="Create!">
				</div>
		</form>
		<a href="https://twitter.com/intent/tweet?hashtags=TFTChampionPickGenerator&url=https://tftchampionpickgenerator.azurewebsites.net/" class="twitter-hashtag-button" data-show-count="false"></a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
		<div>
			<footer>
				<p class="copyright" align="center">
					"©2020 TFT Champion Pick Generator"
				</p>
			</footer>
		</div>
	</div>
</body>
</html>