<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
	<!-- #css読込 -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>TFT Champion Pick Generator</title>
	<!-- #favicon読込 -->
	<link rel="apple-touch-icon" sizes="180x180" href="./static/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="./static/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="./static/favicon/favicon-16x16.png">
	<link rel="manifest" href="./static/favicon/site.webmanifest">
	<link rel="mask-icon" href="./static/favicon/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">
	<meta http-equiv="content-script-type" content="text/javascript">
	<!-- <meta name="twitter:card" content="summary_large_image" > -->
	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="@ararabo" >
	<meta property="og:url" content="https://tftchampionpickgenerator.azurewebsites.net/" >
	<meta property="og:title" content="TFT Champion Pick Generator" >
	<meta property="og:description" content="TFT's Champion Pick Image Generation Site" >
	<!-- <meta property="og:image" content="https://tftchampionpickgenerator.azurewebsites.net/static/images/sample_image2.png"> -->
	<meta property="og:image" content="https://tftchampionpickgenerator.azurewebsites.net/static/images/sample_image2_small.png">
	<!-- <meta property="og:image" content="{{url_for('static',_external=True,filename='images/output.jpg')}}"> -->
	<!-- <script src="./static/js/garlic.js"></script>
	<script>
		$(function(){
		$("form").garlic();
		});
	</script> -->
	<SCRIPT language="JavaScript">
		img0=new Image()
		img0.src="./static/attribute_images/set4/adept.png"
		img1=new Image()
		img1.src="./static/attribute_images/set4/assassin.png"
		img2=new Image()
		img2.src="./static/attribute_images/set4/brawler.png"
		img3=new Image()
		img3.src="./static/attribute_images/set4/cultist.png"
		img4=new Image()
		img4.src="./static/attribute_images/set4/dazzler.png"
		img5=new Image()
		img5.src="./static/attribute_images/set4/divine.png"
		img6=new Image()
		img6.src="./static/attribute_images/set4/duelist.png"
		img7=new Image()
		img7.src="./static/attribute_images/set4/dusk.png"
		img8=new Image()
		img8.src="./static/attribute_images/set4/elderwood.png"
		img9=new Image()
		img9.src="./static/attribute_images/set4/emperor.png"
		img10=new Image()
		img10.src="./static/attribute_images/set4/enlightened.png"
		img11=new Image()
		img11.src="./static/attribute_images/set4/exile.png"
		img12=new Image()
		img12.src="./static/attribute_images/set4/fortune.png"
		img13=new Image()
		img13.src="./static/attribute_images/set4/hunter.png"
		img14=new Image()
		img14.src="./static/attribute_images/set4/keeper.png"
		img15=new Image()
		img15.src="./static/attribute_images/set4/mage.png"
		img16=new Image()
		img16.src="./static/attribute_images/set4/moonlight.png"
		img17=new Image()
		img17.src="./static/attribute_images/set4/mystic.png"
		img18=new Image()
		img18.src="./static/attribute_images/set4/ninja.png"
		img19=new Image()
		img19.src="./static/attribute_images/set4/shade.png"	
		img20=new Image()
		img20.src="./static/attribute_images/set4/sharpshooter.png"
		img21=new Image()
		img21.src="./static/attribute_images/set4/spirit.png"
		img22=new Image()
		img22.src="./static/attribute_images/set4/theboss.png"
		img23=new Image()
		img23.src="./static/attribute_images/set4/tormented.png"
		img24=new Image()
		img24.src="./static/attribute_images/set4/vanguard.png"
		img25=new Image()
		img25.src="./static/attribute_images/set4/warlord.png"
		
		function imgChange1(parts){
		fname=parts.options[parts.selectedIndex].value;
		if(fname=="adept"){document.imgsmp1.src=img0.src;}
		if(fname=="assassin"){document.imgsmp1.src=img1.src;}
		if(fname=="brawler"){document.imgsmp1.src=img2.src;}
		if(fname=="cultist"){document.imgsmp1.src=img3.src;}
		if(fname=="dazzler"){document.imgsmp1.src=img4.src;}
		if(fname=="divine"){document.imgsmp1.src=img5.src;}
		if(fname=="duelist"){document.imgsmp1.src=img6.src;}
		if(fname=="dusk"){document.imgsmp1.src=img7.src;}
		if(fname=="elderwood"){document.imgsmp1.src=img8.src;}
		if(fname=="emperor"){document.imgsmp1.src=img9.src;}
		if(fname=="enlightened"){document.imgsmp1.src=img10.src;}
		if(fname=="exile"){document.imgsmp1.src=img11.src;}
		if(fname=="fortune"){document.imgsmp1.src=img12.src;}
		if(fname=="hunter"){document.imgsmp1.src=img13.src;}
		if(fname=="keeper"){document.imgsmp1.src=img14.src;}
		if(fname=="mage"){document.imgsmp1.src=img15.src;}
		if(fname=="moonlight"){document.imgsmp1.src=img16.src;}
		if(fname=="mystic"){document.imgsmp1.src=img17.src;}
		if(fname=="ninja"){document.imgsmp1.src=img18.src;}
		if(fname=="shade"){document.imgsmp1.src=img19.src;}
		if(fname=="sharpshooter"){document.imgsmp1.src=img20.src;}
		if(fname=="spirit"){document.imgsmp1.src=img21.src;}
		if(fname=="theboss"){document.imgsmp1.src=img22.src;}
		if(fname=="tormented"){document.imgsmp1.src=img23.src;}
		if(fname=="vanguard"){document.imgsmp1.src=img24.src;}
		if(fname=="vanguard"){document.imgsmp1.src=img25.src;}}
		function imgChange2(parts){
		fname=parts.options[parts.selectedIndex].value;
		if(fname=="adept"){document.imgsmp2.src=img0.src;}
		if(fname=="assassin"){document.imgsmp2.src=img1.src;}
		if(fname=="brawler"){document.imgsmp2.src=img2.src;}
		if(fname=="cultist"){document.imgsmp2.src=img3.src;}
		if(fname=="dazzler"){document.imgsmp2.src=img4.src;}
		if(fname=="divine"){document.imgsmp2.src=img5.src;}
		if(fname=="duelist"){document.imgsmp2.src=img6.src;}
		if(fname=="dusk"){document.imgsmp2.src=img7.src;}
		if(fname=="elderwood"){document.imgsmp2.src=img8.src;}
		if(fname=="emperor"){document.imgsmp2.src=img9.src;}
		if(fname=="enlightened"){document.imgsmp2.src=img10.src;}
		if(fname=="exile"){document.imgsmp2.src=img11.src;}
		if(fname=="fortune"){document.imgsmp2.src=img12.src;}
		if(fname=="hunter"){document.imgsmp2.src=img13.src;}
		if(fname=="keeper"){document.imgsmp2.src=img14.src;}
		if(fname=="mage"){document.imgsmp2.src=img15.src;}
		if(fname=="moonlight"){document.imgsmp2.src=img16.src;}
		if(fname=="mystic"){document.imgsmp2.src=img17.src;}
		if(fname=="ninja"){document.imgsmp2.src=img18.src;}
		if(fname=="shade"){document.imgsmp2.src=img19.src;}
		if(fname=="sharpshooter"){document.imgsmp2.src=img20.src;}
		if(fname=="spirit"){document.imgsmp2.src=img21.src;}
		if(fname=="theboss"){document.imgsmp2.src=img22.src;}
		if(fname=="tormented"){document.imgsmp2.src=img23.src;}
		if(fname=="vanguard"){document.imgsmp2.src=img24.src;}
		if(fname=="warlord"){document.imgsmp2.src=img25.src;}}
	</SCRIPT>
  </head>
  <style>
	body{
		text-align: center;
		}
		div#center {
		width: 450px;
		height: 800px;
		text-align: left;
		margin: auto;
		}
		h1 {
		text-align: center;
		}
  </style>
  <body>
  	<div id="center">
		<h1 align="center">{{ title }}</h1>
		<p align="center">{{ message }}</p>
		<form action="/" method="POST" enctype="multipart/form-data">
			<!-- <form action="/" data-persist=”garlic” method="POST" enctype="multipart/form-data"></form> -->
			<div align="center">
				{% if sStartFlag==True %}
					<img src="{{ image }}" class="img-fluid">
				{% else %}
					<img src="{{url_for('static', filename='images/output.jpg')}}" class="img-fluid" alt="Responsive image">
				{% endif %}
			</div>
				<div>
					<label for="name">Name:</label>
					<input type="text" id="name" name="name" placeholder="Name">	
				</div>
				<div>
				<label for="image">Image(jpg,png,gif):</label>
				<input type=file name=upfile accept=".jpg, .jpeg, .png, .gif">
				</div>
				<label for="tier">Tier:</label>
				<select name="sel">
					<option value="null" disabled selected>Select Tier</option>
					<option value="1">Tier1</option>
					<option value="2">Tier2</option>
					<option value="3">Tier3</option>
					<option value="4">Tier4</option>
					<option value="5">Tier5</option>
				</select>
				<div>
					<label for="attribute1">Synergy1:</label>
					<input type="text" id="attribute1" name="attribute1" placeholder="Enter Synergy1"><IMG src="./static/attribute_images/sample.png" width="25" height="25" name="imgsmp1" style="vertical-align: bottom;">
					<select name="attribute1_sel" onchange="imgChange1(this)">
						<option value="null" style="display:none;">Set Synergy1 icon</option>
						<option value="adept">adept</option>
						<option value="assassin">assassin</option>
						<option value="brawler">brawler</option>
						<option value="cultist">cultist</option>
						<option value="dazzler">dazzler</option>
						<option value="divine">divine</option>
						<option value="duelist">duelist</option>
						<option value="dusk">dusk</option>
						<option value="elderwood">elderwood</option>
						<option value="emperor">emperor</option>
						<option value="enlightened">enlightened</option>
						<option value="exile">exile</option>
						<option value="fortune">fortune</option>
						<option value="hunter">hunter</option>
						<option value="keeper">keeper</option>
						<option value="mage">mage</option>
						<option value="moonlight">moonlight</option>
						<option value="mystic">mystic</option>
						<option value="ninja">ninja</option>
						<option value="shade">shade</option>
						<option value="sharpshooter">sharpshooter</option>
						<option value="spirit">spirit</option>
						<option value="theboss">theboss</option>
						<option value="tormented">tormented</option>
						<option value="vanguard">vanguard</option>
						<option value="warlord">warlord</option>
					</select>
				</div>
				<div>
					<label for="attribute2">Synergy2:</label>
					<input type="text" id="attribute2" name="attribute2" placeholder="Enter Synergy2"><IMG src="./static/attribute_images/sample.png" width="25" height="25" name="imgsmp2" style="vertical-align: bottom;">
					<select name="attribute2_sel" onchange="imgChange2(this)">
						<option value="null" style="display:none;">Set Synergy2 icon</option>
						<option value="adept">adept</option>
						<option value="assassin">assassin</option>
						<option value="brawler">brawler</option>
						<option value="cultist">cultist</option>
						<option value="dazzler">dazzler</option>
						<option value="divine">divine</option>
						<option value="duelist">duelist</option>
						<option value="dusk">dusk</option>
						<option value="elderwood">elderwood</option>
						<option value="emperor">emperor</option>
						<option value="enlightened">enlightened</option>
						<option value="exile">exile</option>
						<option value="fortune">fortune</option>
						<option value="hunter">hunter</option>
						<option value="keeper">keeper</option>
						<option value="mage">mage</option>
						<option value="moonlight">moonlight</option>
						<option value="mystic">mystic</option>
						<option value="ninja">ninja</option>
						<option value="shade">shade</option>
						<option value="sharpshooter">sharpshooter</option>
						<option value="spirit">spirit</option>
						<option value="theboss">theboss</option>
						<option value="tormented">tormented</option>
						<option value="vanguard">vanguard</option>
						<option value="warlord">warlord</option>
					</select>
				</div>
				<div>
					<label><input type="checkbox" name="string_color" value="1">Change to black text(Synergy)</label>
					<input type="submit" value="Create!">
				</div>
		</form>
		<a href="https://twitter.com/intent/tweet?hashtags=TFTChampionPickGenerator&url=https://tftchampionpickgenerator.azurewebsites.net/" class="twitter-hashtag-button" data-show-count="false"></a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
		<div>
			<footer>
				<p class="copyright" align="center">
					"©2020 TFT Champion Pick Generator"
				</p>
			</footer>
		</div>
	</div>
</body>
</html>